/*This is our CSS*/
body {
    background-color: pink;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: black;
      border: white;
  }
  .header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover:not(.active) {
      background-color: darkgrey;
  }

  .active {
      background-color: grey
}

.aboutwrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}


  .aboutethan {
    grid-column: 1;
    grid-row: 1;
  }
  .aboutmaeve {
    grid-column: 1;
    grid-row: 2;
  }
  .abouttiera {
    grid-column: 2;
    grid-row: 1;
  }
  .aboutjuan {
    grid-column: 2;
    grid-row: 2;
  }

      background-color: grey;
}

h1 {
  text-align: center;
  text-align: center;
  padding: 20px;
}

.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Page content */
.content {
  padding: 16px;
  margin-top: 40px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.loader {
 border-top: 16px solid blue;
 border-right: 16px solid green;
 border-bottom: 16px solid red;
 border-left: 16px solid pink;
}
