/*This is our CSS*/
body {
    background-color: pink;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: black;
      border: white;
  }
  .header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover:not(.active) {
      background-color: darkgrey;
  }

  .active {
      background-color: grey;
}

h1 {
  text-align: center;
}
