<html>
  <head>
    <link rel="stylesheet" href="/static/style.css"></link>
  </head>
  <body>
      <h1> About Us Page</h1>
    <ul class="navbar">
      <li><a href="/" >Main</a></li>
      <li><a  href="/search">Search</a></li>
      <li><a  href='/favorites'>Favorites</a></li>
      <li><a href='/gallery'>Gallery</a></li>
      <li><a class="active" href='/about'>About Us</a></li>
    </ul>

    <h2> Get to know the people behind this web app!</h2>
    <hr>
  <div class="aboutwrapper"
      <div class="aboutethan">
        <h1>Ethan Mann</h1>
        <h2>Info about Ethan goes here</h2>
      </div>


    <div class="aboutmaeve">
      <h1>Maeve Heflin</h1>
      <h2>Info about Maeve goes here</h2>
    <div/>


    <div class="abouttiera">
      <h1>Tiera Gladney</h1>
      <h2>Info about Tiera goes here</h2>
    </div>


    <div class="aboutjuan">
        <h1>Juan Gonzalez</h1>
        <h2>Info about Juan goes here</h2>
    </div>
  </div>

      <!-- <button class="button" style="vertical-align:middle"><span>Log In</span></button> -->
    </body>
  </body>
</html>
