<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pro Planner</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css"></link>
        <link rel="stylesheet" href="/static/newDesign.css"></link>
        <link rel="icon" href="http://www.jmkxyy.com/planner-icon-png/planner-icon-png-17.jpg">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <div class="title">
                Pro Planner
            </div>
            <div class="menu">
              <a class="underlineMe" href="/">Home</a>
              <a class="underlineMe" href="/">Getting Started</a>
              <a class="underlineMe" href="/about">About Us</a>
              <a class="underlineMe" href="/more">More</a>
            </div>
            <img src="http://www.jmkxyy.com/planner-icon-png/planner-icon-png-17.jpg" alt="Logo">
        </header>
        <h1 style="margin-left: 40px;"> About us </h1>
        <div class="aboutwrapper">
            <div class="about_maeve">
              <center><h2>Maeve Heflin</h2></center>
              <center>
              <img class="profileimage" src="/images/maeve.jpg" height="200" width="200">
            </center>
              <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam laoreet mi in quam posuere, a porta mauris ultricies. Nullam rhoncus nibh
                non tempus sodales. Suspendisse porta justo sed nisl fermentum, nec accumsan lorem
                ultricies. Duis congue nisi et mi lacinia pellentesque.</h4>
            </div>

            <div class="about_tiera">
              <center><h2>Tiera Gladney</h2></center>
              <center>
              <img class="profileimage" src="/images/tiera.png" height="200" width="175">            </center>
              <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam laoreet mi in quam posuere, a porta mauris ultricies. Nullam rhoncus nibh
                non tempus sodales. Suspendisse porta justo sed nisl fermentum, nec accumsan lorem
                ultricies. Duis congue nisi et mi lacinia pellentesque.</h4>
            </div>

            <div class="about_juan">
              <center><h2>Juan Gonzalez</h2></center>
              <center>
              <img class="profileimage" src="/images/juan.png" height="200" width="230">
            </center>
              <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam laoreet mi in quam posuere, a porta mauris ultricies. Nullam rhoncus nibh
                non tempus sodales. Suspendisse porta justo sed nisl fermentum, nec accumsan lorem
                ultricies. Duis congue nisi et mi lacinia pellentesque.</h4>
            </div>

            <div class="about_ethan">
              <center><h2>Ethan Mann</h2></center>
              <center>
              <img class="profileimage" src="/images/ethan.png" height="200" width="200">
            </center>
              <h4>Ethan contributed to the back-end code of Pro Planner. He enjoys listening to music, running, and comedy. Next year, Ethan plans to study applied math and computer science at Caltech.</h4>
            </div>


        </div>

    </body>
</html>






















<!--

<html>
  <head>
    <link rel="stylesheet" href="/static/newDesign.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"></link>
  </head>
  <body>
    <ul class="navbar">
      <li><a href="/" >Main</a></li>
      <li><a  href="/search">Search</a></li>
      <li><a  href='/favorites'>Favorites</a></li>
      <li><a href='/gallery'>Gallery</a></li>
      <li><a class="active" href='/about'>About Us</a></li>
    </ul>
    <h1> About Us</h1>
    <center>
    <h2> Get to know the people behind this web app!</h2>
  </center>
    <hr>


  <div class="aboutwrapper">
      <div class="about_ethan">
        <h1>Ethan Mann</h1>
        <img class="profileimage" src="https://i.imgur.com/6Kxy6aj.png" height="200" width="200">
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aliquam laoreet mi in quam posuere, a porta mauris ultricies. Nullam rhoncus nibh
          non tempus sodales. Suspendisse porta justo sed nisl fermentum, nec accumsan lorem
          ultricies. Duis congue nisi et mi lacinia pellentesque.</h4>
      </div>


    <div class="about_maeve">
      <h1>Maeve Heflin</h1>
      <img class="profileimage" src="https://i.imgur.com/6Kxy6aj.png" height="200" width="200">
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam laoreet mi in quam posuere, a porta mauris ultricies. Nullam rhoncus nibh
        non tempus sodales. Suspendisse porta justo sed nisl fermentum, nec accumsan lorem
        ultricies. Duis congue nisi et mi lacinia pellentesque.</h4>
    </div>


    <div class="about_tiera">
      <h1>Tiera Gladney</h1>
      <img class="profileimage" src="https://i.imgur.com/6Kxy6aj.png" height="200" width="200">
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam laoreet mi in quam posuere, a porta mauris ultricies. Nullam rhoncus nibh
        non tempus sodales. Suspendisse porta justo sed nisl fermentum, nec accumsan lorem
        ultricies. Duis congue nisi et mi lacinia pellentesque.</h4>
    </div>


    <div class="about_juan">
        <h1>Juan Gonzalez</h1>
        <img class="profileimage" src="https://i.imgur.com/6Kxy6aj.png" height="200" width="200">
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aliquam laoreet mi in quam posuere, a porta mauris ultricies. Nullam rhoncus nibh
          non tempus sodales. Suspendisse porta justo sed nisl fermentum, nec accumsan lorem
          ultricies. Duis congue nisi et mi lacinia pellentesque.</h4>
    </div>
  </div>

    <- <button class="button" style="vertical-align:middle"><span>Log In</span></button> -->
