<html>
  <head>
    <link rel="stylesheet" href="/static/style.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"></link>
  </head>
  <body>
    <ul class="navbar">
      <li><a href="/" >Main</a></li>
      <li><a  href="/search">Search</a></li>
      <li><a  class="active" href='/favorites'>Favorites</a></li>
      <li><a href='/gallery'>Gallery</a></li>
      <li><a  href='/about'>About Us</a></li>
    </ul>
    <h1>Favorites</h1>
    <h2>You have saved {{numEntries}} schedules!</h2>
    {% for favoriteSchedule in favorites %}
      <h2>Here is a schedule you have saved:</h2>
      {% for favorite in favoriteSchedule %}
      <p>Name: {{favorite["NAME"]}}</p>
      <p>Address: {{favorite["ADDRESS"]}}</p>
      <p>Type: {{favorite["TYPE"]}}</p>
      <p>Price Level: {{favorite["PRICE"]}}</p>
      <p>Rating: {{favorite["RATING"]}}</p>
      <br>
    {% endfor %}
    {% endfor %}
    <!-- <button class="button" style="vertical-align:middle"><span>Log In</span></button> -->
  </body>
</html>
