<html lang="en" class="no-scroll">
    <head>
        <meta charset="UTF-8">
        <title>Pro Planner</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/static/newDesign.css"></link>
        <link id="calendaricon" rel="icon" href="http://www.jmkxyy.com/planner-icon-png/planner-icon-png-17.jpg">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <div class="title">
                Pro Planner
            </div>
            <div class="menu">
              <a class="underlineMe" href="/">Home</a>
              <a class="underlineMe" href="/gettingstarted">Getting Started</a>
              <a class="underlineMe" href="/about">About Us</a>
              <!-- <a class="underlineMe" href="/more">More</a> -->
            </div>
            <img src="http://www.jmkxyy.com/planner-icon-png/planner-icon-png-17.jpg" alt="Logo">
        </header>
    <div class="plain-text">
    <h1>You haven't saved any schedules to Favorites yet! </h1>
    <br><br>
    <a href="/search" class="button">Back to search</a>
    </div>
  </body>
</html>
