<html>
<head>
    <meta charset="UTF-8">
    <title>Planner Pro</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css"></link>
    <link rel="stylesheet" href="/static/newDesign.css"></link>
    <link rel="icon" href="http://www.jmkxyy.com/planner-icon-png/planner-icon-png-17.jpg">
    <script src="/static/favorites_script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1></h1>
    <header>
        <div class="title">
            Favorites
        </div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/gallery">Gallery</a>
        </div>
        <img src="http://www.jmkxyy.com/planner-icon-png/planner-icon-png-17.jpg" alt="Logo">
    </header>

    <h2>You have saved {{numEntries}} schedules!</h2>

    <h2>Here is a schedule you have saved:</h2>
    {% for favorite in favorites %}
      <p>Name: {{favorite["NAME"]}}</p>
      <p>Address: {{favorite["ADDRESS"]}}</p>
      <p>Type: {{favorite["TYPE"]}}</p>
      <p>Price Level: {{favorite["PRICE"]}}</p>
      <br>
    {% endfor %}
    <br>
    <br>
    <button id="seeNext">See Next Favorite!</button>
    <!-- <form method="delete"> -->
    <button id="delete">Remove This From favorites!</button>
    <form method="post">
      <input type="submit" value="postToGallery">
    </form>
  </body>
</html>
