<html>
  <head>
    <link rel="stylesheet" href="/static/style.css"></link>
  </head>
  <body>
    <ul>
<li><a href="/" >Main</a></li>
<li><a  href="/search">Search</a></li>
<li><a  href='/favorites'>Favorites</a></li>
<li><a class="active" href='/gallery'>Gallery</a></li>
<li><a  href='/about'>About Us</a></li>

</ul>

        <h1> Gallery Page </h1>
        <p>Todo: make a gallery lol</p>

      <!-- <button class="button" style="vertical-align:middle"><span>Log In</span></button> -->
    </body>
  </body>
</html>
