<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Planner Pro</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/static/newDesign.css"></link>
        <link rel="icon" href="http://www.jmkxyy.com/planner-icon-png/planner-icon-png-17.jpg"> <a href="/"></a>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <div class="title">
                Gallery
            </div>
            <div class="menu">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/gallery">Gallery</a>
            </div>
            <img src="http://www.jmkxyy.com/planner-icon-png/planner-icon-png-17.jpg" alt="Logo">
        </header>
    <h1> Gallery</h1>
    <p>Todo: make a gallery lol</p>
    </body>
</html>
