<html>
  <head>
    <title>Favorite Images!</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/static/script.js"></script>
  </head>
  <body>
    <a class="logout" href="{{logoutUrl}}">Log Out</a>
    <h1>Favorite Images!</h1>
    <p>Query: <input id="queryBox" type="text" placeholder="sloths"> <button id="submit">Submit!</button></p>
    <p><a href="/list_favorites">See Favorites!</a></p>
    <div id="resultPane">
      <div id="result"></div>
      <button id="addFavorite">Add To Favorites!</button>
    </div>
  </body>
</html>
