<html>
  <head>
    <link rel="stylesheet" href="/static/style.css"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <h1> Welcome to the Pro Planner!</h1>
    <p2>Brought to you by team PseudoCoders</p2>

<ul class="navbar">
  <li><a class="active" href="/" >Main</a></li>
  <li><a  href="/search">Search</a></li>
  <li><a  href='/favorites'>Favorites</a></li>
  <li><a  href='/gallery'>Gallery</a></li>
  <li><a  href='/about'>About Us</a></li>
</ul>


<p id="main-text"> Pro Planner offers a new and improved way to create the outing
  of your dreams! On this interactive website you
  can input your desired budget, location, and date for an outing, and we take care of the
  rest!Some text to enable scrolling..
   Lorem ipsum dolor sit amet, illum definitiones no q
   uo, maluisset concludaturque et eum, altera fabulas ut quo.
   Atqui causae gloriatur ius te, id agam omnis evertitur eum. Af
   fert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum n
   o molestiae voluptatibus.</p>
    <!-- <button class="button" style="vertical-align:middle"><span>Log In</span></button> -->
  </body>
</html>
