<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pro Planner</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/static/newDesign.css"></link>
        <link rel="icon" href="http://www.jmkxyy.com/planner-icon-png/planner-icon-png-17.jpg">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <div class="title">
                Pro Planner
            </div>
            <div class="menu">
              <a class="underlineMe" href="/">Home</a>
              <a class="underlineMe" href="/">Getting Started</a>
              <a class="underlineMe" href="/about">About Us</a>
              <a class="underlineMe" href="/more">More</a>
            </div>
            <img src="http://www.jmkxyy.com/planner-icon-png/planner-icon-png-17.jpg" height=48px width=auto alt="Logo" style="float=right">
        </header>
        <h1></h1>
        <div class="wrapper" id="main_page_info">
            <main>
                <div>
                    <a href="/search"><img src="https://png.icons8.com/metro/1600/search.png"  class="animation" alt="Search">
                        <span class="title">Search</span></a>
                </div>
                <div>
                    <a href="/favorites"><img src="https://i.imgur.com/zlT1IHz.png"  class="animation" alt="Favorites">
                        <span class="title">Favorites</span></a>
                </div>
                <div>
                    <a href="/gallery"><img src="https://i.imgur.com/JtLTtyR.png" class="animation" alt="Gallery">
                        <span class="title">Gallery</span></a>
                </div>
            </main>
        </div>
    </body>
</html>
