<html>
  <head>
    <link rel="stylesheet" href="/static/style.css"></link>
  </head>
  <body>
    <h1> Welcome to the Pro Planner!</h1>

    <h2>Brought to you by team PseudoCoders</h2>
    <p> Pro Planner offers a new and improved way to create the outing
      of your dreams! On this interactive website you
      can input your desired budget, location, and date for an outing, and we take care of the
      rest!</p>
      <ul>
  <!-- <li><a class="active" href="/search">Search</a></li>
  <li><a href="/favorites">Favorites<a></li>
  <li><a href="/gallery">Gallery</a></li>
  <li><a href="/about">About Us</a></li> -->
  <li><a class="active" href="/" >Main</a></li>
  <li><a  href="/search">Search</a></li>

<li><a  href='/favorites'>Favorites</a></li>

<li><a href='/gallery'>Gallery</a></li>
<li><a  href='/about'>About Us</a></li>

</ul>
    <!-- <button class="button" style="vertical-align:middle"><span>Log In</span></button> -->
  </body>
</html>
