<html>
  <head>
    <meta charset="UTF-8">
    <title>Maps</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/newDesign.css"></link>
    <link rel="icon" href="http://www.jmkxyy.com/planner-icon-png/planner-icon-png-17.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header class="navbar">
        <div class="title">
            Planner Pro
        </div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/material">More</a>
        </div>
        <img src="http://www.jmkxyy.com/planner-icon-png/planner-icon-png-17.jpg" alt="Logo">
    </header>
    <iframe src="{{map_image_url}}" width=100% height=82%></iframe>
  </body>
</html>
