<!-- What is this, you're asking?
It's just a page to test out material design (you know, because our site
doesnt look too pretty lol)

so yeah this is a test page -->
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css"></link>
    <link rel="stylesheet" href="/static/teststyle.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"></link>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/static/search_script.js"></script>
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3>Planner Pro</h3>






        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <a href="#main" class="mdl-layout__tab is-active">Main</a>
          <a href="#search" class="mdl-layout__tab">Search</a>
          <a href="/favorites" class="mdl-layout__tab">Favorites</a>
          <a href="/gallery" class="mdl-layout__tab">Gallery</a>
          <a href="/about" class="mdl-layout__tab">About Us</a>
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
            <i class="material-icons" role="presentation">add</i>
            <span class="visuallyhidden">Add</span>
            <a href="/about"></a>
          </button>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="main">


          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <h4>Welcome to the Main Page!</h4>
                There is finally a tool that can help plan around all your needs.
                Pro Planner offers a new and improved way to create the outing
                of your dreams! On this interactive website you
                can input your desired budget, location, and date for an outing, and we take care of the
                rest!
              </div>
              <div class="mdl-card__actions">
                <a href="/search" class="mdl-button">Get Started</a>
              </div>
            </div>

            <!-- <ul class="mdl-menu mdl-js-menu mdl-menubottom-right" for="btn3">
              <li class="mdl-menu__item">Lorem</li>
              <li class="mdl-menu__item" disabled>Ipsum</li>
              <li class="mdl-menu__item">Dolor</li>
              I have no idea what this does
            </ul> -->
          </section>

          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <h4>Favorites</h4>
                    Did you fall in love with your result? Safely keep in in Favorites!
                </div>
              <div class="mdl-card__actions">
                <a href="/favorites" class="mdl-button">Visit My Favorites</a>
              </div>
            </div>

            <!-- <ul class="mdl-menu mdl-js-menu mdl-menu-bottom-right" for="btn3">
              <li class="mdl-menu__item">Lorem</li>
              <li class="mdl-menu__item" disabled>Ipsum</li>
              <li class="mdl-menu__item">Dolor</li>
            </ul> -->
          </section>

          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <h4>Gallery</h4>
                    Something something something
                </div>
              <div class="mdl-card__actions">
                <a href="/gallery" class="mdl-button">Visit the Gallery</a>
              </div>
            </div>

            <!-- <ul class="mdl-menu mdl-js-menu mdl-menu-bottom-right" for="btn3">
              <li class="mdl-menu__item">Lorem</li>
              <li class="mdl-menu__item" disabled>Ipsum</li>
              <li class="mdl-menu__item">Dolor</li>
            </ul> -->
          </section>

          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <h4>About Us</h4>
                    Who made this app? Good question! Meet the people behind this app by visiting the About Us section.
                </div>
              <div class="mdl-card__actions">
                <a href="/about" class="mdl-button">About Us</a>
              </div>
            </div>

            <!-- <ul class="mdl-menu mdl-js-menu mdl-menu-bottom-right" for="btn3">
              <li class="mdl-menu__item">Lorem</li>
              <li class="mdl-menu__item" disabled>Ipsum</li>
              <li class="mdl-menu__item">Dolor</li>
            </ul> -->
          </section>
        </div>


<!-- - - - - - - Search section of the page starts here - - - - - - - - - -  - - - - - -->



        <div class="mdl-layout__tab-panel" id="search">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col">




              <h4>Search</h4>
              Enter your queries below!
              <form method="post">
                <p>Date: <br> <input type="date" id="date" name="date"></p>
                <p>Location: <br> <input type="text" id="location" name="location"></p>
                <p>Radius: </p>
                <select id="radius" name="radius">
                  <option value=1610>Within one mile</option>
                  <option value=3219>Within two miles</option>
                  <option value=8047>Within five miles</option>
                  <option value=16093>Within ten miles</option>
                  <option value=32186>Within twenty miles</option>
                </select>
                <p>Select your budget/price level:</p>
                <select id="price" name="price">
                  <option value="0">Free</option>
                  <option value="1">Inexpensive($)</option>
                  <option value="2">Intermediate($$)</option>
                  <option value="3">Expensive ($$$)</option>
                  <option value="4">Bank🤑💸 ($$$$)</option>
                </select>
                <p>Select the minimum user rating:</p>
                <select id="rating" name="rating">
                  <option value="1">One star</option>
                  <option value="2">Two stars</option>
                  <option value="3">Three stars</option>
                  <option value="4">Four stars</option>
                  <option value="5">Five stars</option>
                </select>
                <input id="submit" type="submit">
                </form>
                </div>
                <div id="loadingMessage">Your results are loading...!</div>
                <br>
                <div id="futureLoader"></div>
                <iframe id="loaderVideo" width="1188" height="567" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


            </div>
          </section>
        </div>



<!-- - - - - - - Search section of the page ends here - - - - - - - - - -  - - - - - -->

        <footer class="mdl-mega-footer">

          <div class="mdl-mega-footer--bottom-section">
            <div class="mdl-logo">
              More Information
            </div>
            <ul class="mdl-mega-footer--link-list">
              <li><a href="/about">About Us</a></li>


            </ul>
          </div>
        </footer>
      </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
