<html>
  <head>
    <link rel="stylesheet" href="/static/newDesign.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"></link>
    <link rel="icon" href="http://www.jmkxyy.com/planner-icon-png/planner-icon-png-17.jpg">
  </head>
  <body>
    <h1>Post to Gallery</h1>
    <h2>Schedule Details</h2>
    <p>Name: {{result["NAME"]}}</p>
    <p>Address: {{result["ADDRESS"]}}</p>
    <p>Type: {{result["TYPE"]}}</p>
    <p>Price Level: {{result["PRICE"]}}</p>
    <p>Rating: {{result["RATING"]}} stars</p>
    <br>
  </body>
</html>
