<html class="no-scroll">
  <head>
    <meta charset="UTF-8">
    <title>Pro Planner</title>
    <link rel="stylesheet" href="/static/newDesign.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"></link>
    <link rel="icon" href="http://www.jmkxyy.com/planner-icon-png/planner-icon-png-17.jpg">
    <!-- <script src="/static/post_script.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
        <div class="title">
            Pro Planner
        </div>
        <div class="menu">
          <a class="underlineMe" href="/">Home</a>
          <a class="underlineMe" href="/gettingstarted">Getting Started</a>
          <a class="underlineMe" href="/about">About Us</a>
          <a class="underlineMe" href="/more">More</a>
        </div>
        <img src="http://www.jmkxyy.com/planner-icon-png/planner-icon-png-17.jpg" alt="Logo">
    </header>
    <div class="initial-text">
    <h1>Post to Gallery</h1>
    <h2>Schedule Details:</h2>

    {% for event in schedule %}
      <p>Name: {{event["NAME"]}}</p>
      <p>Address: {{event["ADDRESS"]}}</p>
      <p>Type: {{event["TYPE"]}}</p>
      <p>Price Level: {{event["PRICE"]}}</p>
      <br>
    {% endfor %}

    </div>
    <br><br>

    <form id="post_schedule" class="plain-text"  method="post">
      <p>Give your schedule a title: <input type="text" name="title"></p>
      <br><br>
      <p>Rate your schedule:</p>
      <select id="rating" name="rating">
        <option value="5">Five stars</option>
        <option value="4">Four stars</option>
        <option value="3">Three stars</option>
        <option value="2">Two stars</option>
        <option value="1">One star</option>
      </select>
      <br><br>
      <p>Description: </p>
      <textarea id="description" name="description" style="width:250px;height:150px;"></textarea>
      <br><br>
      <input type="hidden" name="hiddenData" value="{{hidden_data}}">
      <input type="submit" class="button">
    </form>
    <!-- <p>Name: result["NAME"]</p>
    <p>Address: result["ADDRESS"]</p>
    <p>Type: result["TYPE"]</p>
    <p>Price Level: result["PRICE"]</p>
    <p>Rating: result["RATING"] stars</p> -->
    <br>
  </body>
</html>
