<html>
  <head>
    <link rel="stylesheet" href="/static/style.css"></link>
  </head>
  <body>
<h1>Search Page</h1>

<p>Select your budget:</p>
<select>
  <option value="onedollar">$ (cheap) </option>
  <option value="twodollar">$$ (intermediate)</option>
  <option value="threedollar">$$$ (pricey) </option>
  <option value="fourdollar">$$$$ (bank🤑💸)</option>
<p>Select the rating:</p>
  <select>
    <option value="onestar">One Star</option>
    <option value="twostar">Two Stars</option>
    <option value="threestar">Three Stars</option>
    <option value="fourstar">Four Stars</option>
    <option value="fivestar">Five Stars</option>
</select>
  </body>
</html>
