<html>
  <head>
    <link rel="stylesheet" href="/static/style.css"></link>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/static/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"></link>
  </head>
  <body>
    <ul class="navbar">
      <li><a href="/" >Main</a></li>
      <li><a class="active" href="/search">Search</a></li>
      <li><a  href='/favorites'>Favorites</a></li>
      <li><a href='/gallery'>Gallery</a></li>
      <li><a  href='/about'>About Us</a></li>
    </ul>

<div class="regular">
<h1>Search</h1>
<form method="post">
  <p>Date: <br> <input type="date" id="date" name="date"></p>
  <p>Location: <br> <input type="text" id="location" name="location"></p>
  <p>Radius: </p>
  <select id="radius" name="radius">
    <option value=1610>Within one mile</option>
    <option value=3219>Within two miles</option>
    <option value=8047>Within five miles</option>
    <option value=16093>Within ten miles</option>
    <option value=32186>Within twenty miles</option>
  </select>
  <p>Select your budget/price level:</p>
  <select id="price" name="price">
    <option value="0">Free</option>
    <option value="1">Inexpensive($)</option>
    <option value="2">Intermediate($$)</option>
    <option value="3">Expensive ($$$)</option>
    <option value="4">Bank🤑💸 ($$$$)</option>
  </select>
  <p>Select the minimum user rating:</p>
  <select id="rating" name="rating">
    <option value="1">One star</option>
    <option value="2">Two stars</option>
    <option value="3">Three stars</option>
    <option value="4">Four stars</option>
    <option value="5">Five stars</option>
  </select>
  <!-- <p>Select the type of location:</p>
  <select id="type" name="type">
    <option value="amusement_park">Amusement park</option>
    <option value="aquarium">Aquarium</option>
    <option value="art_gallery">Art gallery</option>
    <option value="bakery">Bakery</option>
    <option value="bar">Bar</option>
    <option value="beauty_salon">Beauty salon</option>
    <option value="bicycle_store">Bicycle store</option>
    <option value="book_store">Book store</option>
    <option value="bowling_alley">Bowling alley</option>
    <option value="cafe">Cafe</option>
    <option value="campground">Campground</option>
    <option value="casino">Casino</option>
    <option value="clothing_store">Clothing store</option>
    <option value="convenience_store">Convienence store</option>
    <option value="electronics_store">Electronics store</option>
    <option value="florist">Florist</option>
    <option value="furniture_store">Furniture store</option>
    <option value="gym">Gym</option>
    <option value="hair_care">Hair care</option>
    <option value="home_goods_store">Home goods store</option>
    <option value="jewelry_store">Jewelry store</option>
    <option value="library">Library</option>
    <option value="liquor_store">Liquor store</option>
    <option value="meal_delivery">Meal delivery</option>
    <option value="meal_takeaway">Meal takeaway</option>
    <option value="movie_rental">Movie rental</option>
    <option value="movie_theater">Movie theater</option>
    <option value="museum">Museum</option>
    <option value="night_club">Night club</option>
    <option value="park">Park</option>
    <option value="pet_store">Pet store</option>
    <option value="pharmacy">Pharmacy</option>
    <option value="restaurant">Restaurant</option>
    <option value="shoe_store">Shoe store</option>
    <option value="shopping_mall">Shopping mall</option>
    <option value="spa">Spa</option>
    <option value="stadium">Stadium</option>
    <option value="store">Store</option>
    <option value="supermarket">Supermarket</option>
    <option value="zoo">Zoo</option>
  </select> -->
  <input id="submit" type="submit">
</form>
</div>
<div id="loadingMessage">Your results are loading...!</div>
<br>
<div id="futureLoader"></div>
  </body>
</html>
