<!-- IGNORE THIS -->



<!-- THIS IS A TEST FILE FOR API PROTOTYPING -->
<!-- SEE URL BELOW FOR MORE INFO ON HIDING API KEYS-->
<!-- https://gist.github.com/derzorngottes/3b57edc1f996dddcab25 -->

<html>
  <head>
  </head>
  <body>
    <p>HERE IS OUR TESTING/PROTOTYPES OF GOOGLE MAPS API</p>
    <form method="post">
      <!-- <div> placeID <input type="text" name="placeID" value=""> </div> -->
      <!-- <div> Search Query: <input type="text" name="query" value=""> </div> -->
      <div> Location: <input type="text" name="location" value=""> </div>
      <div> Radius: <input type="text" name="radius" value=""> </div>
      <div> Price Level: <input type="text" name="location" value=""> </div>
      <input type="submit" value="Submit">
    </form>
    <br>
    <br>
    <p>RESULTS:</p>
    <br>
    {% for result in results %}
      <p>{{result}}</p>
      <br>
    {% endfor %}
  </body>
</html>
